html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

nav {
  background: blue; }

.image {
  max-width: 30em; }

li {
  display: inline-block; }

.screen_shots, .calltoaction {
  background: orange;
  height: 5em; }

footer {
  background: grey;
  width: 100%; }

.responsive {
  width: 100%;
  margin: 0; }

@media screen and (min-width: 640px) {
  .responsive {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .responsive::after {
      clear: both;
      content: "";
      display: table; }
    .responsive header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .responsive header:last-child {
        margin-right: 0; }
    .responsive .flow {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .responsive .flow:last-child {
        margin-right: 0; } }
