$tablet: 'min-width: 640px';
@import "bourbon";
@import "neat";



nav{
	background: blue;
	margin-top: 0px;
	margin-bottom: -22px;
}
header{
	background: green;
	height: 30em;
	width: 100%;
	
}
li {
	display: inline-block
}

.screen_shots, .calltoaction {
	background: orange;
	height:5em;
}

footer {
	background: grey;
	margin-top: -16px;
	width: 100%;
	 }


@media screen and ($tablet) {
	//  Neat Columns
	.responsive {
  		
  		header { @include span-columns(9); }
  		.flow { @include span-columns(3); }
	};
	.screen_shots, .calltoaction {
	background: purple; 
	
	}
}

