$tablet: 'min-width: 640px';
@import "bourbon";
@import "neat";


nav{
	background: blue;
	
}

	
li {
	display: inline-block
}

.screen_shots, .calltoaction {
	background: orange;
	height:5em;
}

footer {
	background: grey;
	
	width: 100%;
	 }


.responsive {
	width: 100%;
  	margin: 0
  	}
@media screen and ($tablet) {
	//  Neat Columns
.responsive {
	//I didn't include OC in the brackets
  @include outer-container;
  header {@include span-columns(8);}
  .flow{@include span-columns(4);}
}}
//.responsive {
//	@include span-columns(12);
//	@include media($tablet) {
//    background: purple;
//    @media screen and ($tablet) {
		
//	}
/*
  @include media($tablet) {
    @include span-columns(6);
  }
}



@media screen and ($tablet) {
	//  Neat Columns
	.responsive {
  		

  		header { @include span-columns(9); }
  		.flow { @include span-columns(3); }
	};
	.screen_shots, .calltoaction {
	background: purple; 
	
	}
}

*/